In [44]:
###Q10
query10= """
SELECT name,
	SUM(CASE WHEN memid =0 THEN slots * guestcost
	ELSE slots * membercost END) AS total_revenue
FROM Facilities as f
INNER JOIN Bookings AS b
ON f.facid=b.facid
GROUP BY name
HAVING total_revenue < 1000
ORDER BY total_revenue
        """

In [45]:
###Q11
query11= """
SELECT DISTINCT (m.firstname||','||m.surname|| ' recommended by '||r.firstname||','||r.surname) AS member_recommended
FROM Members AS m
LEFT JOIN Members as r 
ON m.recommendedby = r.memid
WHERE r.memid <> 0
ORDER BY m.surname, m.firstname
        """

In [46]:
###Q12
query12= """
SELECT f.name, (surname|| ","||firstname) AS member_name, sum(slots)*.5 AS hours_usage
FROM Facilities as f
LEFT JOIN Bookings AS b
USING (facid)
LEFT JOIN Members AS m
USING (memid)
WHERE memid<>0
GROUP BY f.name, member_name
        """

In [47]:
###Q13
query13= """
SELECT f.name, 
	CASE WHEN strftime('%M', starttime) = 7 THEN 'July'
	WHEN strftime('%M', starttime) = 8 THEN 'August'
	ELSE 'September' END AS month, sum(slots) AS hours_used
FROM Bookings AS b
LEFT JOIN Facilities AS f
USING (facid)
WHERE memid <>0
GROUP BY f.name, month
ORDER BY f.name, strftime('%M', starttime)
        """

In [48]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query13)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        #print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
('Badminton Court', 'September', 1086)
('Massage Room 1', 'September', 884)
('Massage Room 2', 'September', 54)
('Pool Table', 'September', 856)
('Snooker Table', 'September', 860)
('Squash Court', 'September', 418)
('Table Tennis', 'September', 794)
('Tennis Court 1', 'September', 957)
('Tennis Court 2', 'September', 882)